/* This should contain styles specific to the App component and overall layout. 
Things like: Page layout (header, sidebar, main content styles).
 Navigation bar styles. Container styling if needed. */

/* LAYOUT */
.dashboard {
  display: flex;
  gap: var(--space-m);
}
.table-overview {
  flex-grow: 1;
}
.table-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  margin-top: var(--space-xs);
}
.table-card {
  border: var(--space-xs) solid var(--greyM);
  padding: var(--space-s);
  border-radius: var(--space-xs);
  text-align: center;
  transition: 0.3s;
}
.sidebar {
  max-width: 20vw;
  background: var(--white);
  padding-inline: var(--space-l);
  padding-block: var(--space-s);
}
.reservation-card {
  background-color: #ffa09d;
  padding: var(--space-xs);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input{
  padding: 0.3rem;
  font-size: var(--fs-02);
  background-color: lightgray;
}
.container__button{
  display: flex;
  gap: var(--space-m);
}

.form__res{
  grid-row: 2/3;
}

.form__res, .titleForm{
  grid-column: 2/3;
}
.menu__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}


/* VISUAL */
.free {
  background-color: #9fd8ac;
}

.taken {
  background-color: #ffa454;
}

.reserved {
  background-color: #f89a9f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: var(--space-s);
  border-radius: var(--space-xs);
  min-width: 80vw;
  max-width: 80vh;
  overflow-y: auto;
  z-index: 1001;
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 0.25fr;
}

.close{
  grid-column: 3/4;
  grid-row: 1/2;
  max-height: 4rem;
}
.table__card{
  padding: var(--space-xs);
}
.size-2 {
  transform: scale(0.9);
}

.size-4 {
  transform: scale(1.1);
}
.table__card.celebration {
  border: var(--fs-02) solid transparent;
  animation: rainbow-border 3s linear infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }
  16% {
    border-color: orange;
  }
  33% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  66% {
    border-color: blue;
  }
  83% {
    border-color: rgb(135, 50, 195);
  }
  90% {
    border-color: rgb(255, 107, 136);
  }
  100% {
    border-color: red;
  }
}