/* This should contain styles specific to the App component and overall layout. 
Things like: Page layout (header, sidebar, main content styles).
 Navigation bar styles. Container styling if needed. */

:root {
  --fs-03: clamp(0.5787rem, 0.5583rem + 0.0908vw, 0.64rem);
  --fs-02: clamp(0.6944rem, 0.6593rem + 0.1564vw, 0.8rem);
  --fs-01: clamp(0.8333rem, 0.7778rem + 0.2469vw, 1rem);
  --fs-0: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --fs-1: clamp(1.2rem, 1.0792rem + 0.537vw, 1.5625rem);
  --fs-2: clamp(1.44rem, 1.269rem + 0.7602vw, 1.9531rem);
  --fs-3: clamp(1.728rem, 1.4902rem + 1.0569vw, 2.4414rem);
  --fs-4: clamp(2.0736rem, 1.7475rem + 1.4491vw, 3.0518rem);
  --fs-5: clamp(2.4883rem, 2.0462rem + 1.965vw, 3.8147rem);

  --space-xs: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  --space-s: clamp(1.125rem, 1.0714rem + 0.2679vw, 1.3125rem);
  --space-m: clamp(1.6875rem, 1.5982rem + 0.4464vw, 2rem);
  --space-l: clamp(2.25rem, 2.1429rem + 0.5357vw, 2.625rem);
  --space-xl: clamp(3.375rem, 3.2143rem + 0.8036vw, 3.9375rem);
  --space-2xl: clamp(4.5rem, 4.2857rem + 1.0714vw, 5.25rem);
  --space-3xl: clamp(6.75rem, 6.4286rem + 1.6071vw, 7.875rem);

  --blue: #0B93DC;
  --darkBlue: #22334A;
  --black: #232422;
  --greyD: #E4E3E0;
  --greyM: #F3F3F3;
  --greyL: #f5f5f5;
  --white: #FFFFFF;

}
/* LAYOUT */
.dashboard {
  display: flex;
  gap: var(--space-m);
}
.table-overview {
  flex-grow: 1;
}
.table-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  margin-top: var(--space-xs);
}
.table-card {
  border: var(--space-xs) solid var(--greyM);
  padding: var(--space-s);
  border-radius: var(--space-xs);
  text-align: center;
  transition: 0.3s;
}

.sidebar {
  max-width: 20vw;
  background: var(--white);
  padding-inline: var(--space-l);
  padding-block: var(--space-s);
}
.reservation-card {
  background-color: #ffa09d;
  padding: var(--space-xs);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input{
  padding: 0.3rem;
  font-size: var(--fs-02);
  background-color: lightgray;
}
.container__button{
  display: flex;
  gap: var(--space-m);
}

.form__res{
  grid-row: 2/3;
}

.form__res, .titleForm{
  grid-column: 2/3;
}
.menu__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}

/* VISUAL */
.free {
  background-color: #9fd8ac;
}

.taken {
  background-color: #ffa454;
}

.reserved {
  background-color: #f89a9f;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: var(--space-s);
  border-radius: var(--space-xs);
  min-width: 80vw;
  max-width: 80vh;
  overflow-y: auto;
  z-index: 1001;
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 0.25fr;
}

.close{
  grid-column: 3/4;
  grid-row: 1/2;
  max-height: 4rem;
}
.table__card{
  padding: var(--space-xs);
}
.size-2 {
  transform: scale(0.9);
}

.size-4 {
  transform: scale(1.1);
}
.table__card.celebration {
  border: var(--fs-02) solid transparent;
  animation: rainbow-border 3s linear infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }
  16% {
    border-color: orange;
  }
  33% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  66% {
    border-color: blue;
  }
  83% {
    border-color: rgb(135, 50, 195);
  }
  90% {
    border-color: rgb(255, 107, 136);
  }
  100% {
    border-color: red;
  }
}