/* This should contain global styles that apply to the entire app,
such as: General body styles (fonts, margins, padding, background colors). 
CSS resets or base styles. Global typography (headings, paragraphs, links). 
Utility classes that might be used across multiple components. */

:root {
  --sans-serif: 'sen', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fs-03: clamp(0.5787rem, 0.5583rem + 0.0908vw, 0.64rem);
  --fs-02: clamp(0.6944rem, 0.6593rem + 0.1564vw, 0.8rem);
  --fs-01: clamp(0.8333rem, 0.7778rem + 0.2469vw, 1rem);
  --fs-0: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --fs-1: clamp(1.2rem, 1.0792rem + 0.537vw, 1.5625rem);
  --fs-2: clamp(1.44rem, 1.269rem + 0.7602vw, 1.9531rem);
  --fs-3: clamp(1.728rem, 1.4902rem + 1.0569vw, 2.4414rem);
  --fs-4: clamp(2.0736rem, 1.7475rem + 1.4491vw, 3.0518rem);
  --fs-5: clamp(2.4883rem, 2.0462rem + 1.965vw, 3.8147rem);

  --space-xs: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  --space-s: clamp(1.125rem, 1.0714rem + 0.2679vw, 1.3125rem);
  --space-m: clamp(1.6875rem, 1.5982rem + 0.4464vw, 2rem);
  --space-l: clamp(2.25rem, 2.1429rem + 0.5357vw, 2.625rem);
  --space-xl: clamp(3.375rem, 3.2143rem + 0.8036vw, 3.9375rem);
  --space-2xl: clamp(4.5rem, 4.2857rem + 1.0714vw, 5.25rem);
  --space-3xl: clamp(6.75rem, 6.4286rem + 1.6071vw, 7.875rem);

  --blue: #5384da;
  --darkBlue: #22334A;
  --black: #232422;
  --greyD: #E4E3E0;
  --greyM: #F3F3F3;
  --greyL: #f5f5f5;
  --white: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* LINKS */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #0c7bba;
}

/* TYPO */
body {
  color: var(--black);
  font-size: var(--fs-0);
  font-family: var(--sans-serif);
}
h1 {
  font-size: var(--fs-4);
}
h2 {
  font-size: var(--fs-3);
  padding-block-end: var(--space-s);
  color: var(--blue);
}
h3 {
  font-size: var(--fs-2);
  padding-block-end: var(--space-xs);
}
h4 {
  font-size: var(--fs-1);
}
p {
  padding-block-end: var(--space-s);
}


/* BUTTON */
button {
  border-radius: var(--space-xs);
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  border-style: none;
  font-weight: 800;
  margin-inline-end: var(--space-xs);
  margin-block-start: var(--space-xs);
  max-width: fit-content;
}
.primary {
  background-color: var(--blue);
  color: var(--black);
}
.secondary {
  background-color: var(--darkBlue);
  color: var(--white);
}
button:hover {
  border-style: double;
  border-color: #22334A;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


